{% extends 'base.html' %}

{% block content %}
    <h2>Atualizar turma: {{ turma.nome }}</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Atualizar</button><br><br>
        </form>
        <a href="{% url 'professores:listar_turmas' %}"><button>Cancelar</button></a>
    <h3>Estudantes na turma</h3>
        {% for matricula in matriculas %}
            <ul>
                <li>{{ matricula }}</li>
            </ul>
        {% empty %}
            <p>Turma sem estudantes.</p>
        {% endfor %}
            <a href="{% url 'professores:adicionar_estudante' turma.pk %}">Adicionar estudantes</a> 
{% endblock %}