{% extends 'base.html' %}

{% block content %}
<h2>Minhas turmas</h2>
<table>
    <thead>
        <tr>
            <th>Turma</th>
            <th>Estudantes</th>
        </tr>
    </thead>
    <tbody>
        {% for turma in turmas.all %}
            <tr>
                <td><a href="{% url 'professores:atualizar_turma' turma.pk %}">{{ turma.nome }}</a></td>
                <td>{{ turma.estudante }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>Você não possui turmas criadas.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<button>
    <a href="{% url 'professores:adicionar_turma' %}">Criar turma</a>
</button>
{% endblock %}