{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h1>Entrar</h1>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </form>
                </div>
            </div>
            <p class="mt-2">Não possui uma conta? <a href="{% url 'signup' %}">Cadastre-se</a>.</p>
        </div>
    </div>
</div>
{% endblock %}