{% extends 'base.html' %}

{% block title %}Turmas{% endblock %}
{% block content %}
<div class="container">
    <h1>Minhas turmas</h1>
    <table class="table mb-0">
        <thead class="thead-light">
            <tr>
                <th class="text-center">Turma</th>
                <th class="text-center">Professor</th>
            </tr>
        </thead>
        {% for turma in turmas %}
        <tbody>
            <tr>
                <td class="text-center">{{ turma.nome }}</td>
                <td class="text-center">{{ turma.professor }}</td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="2">Você não participa de nenhuma turma.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'estudantes:adicionar_submissao' %}" class="btn btn-success mb-3 btn-sm">Submeter código</a>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            <span class="current">
                {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}